.auth-container {
  width: 350px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input,
.auth-container select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 10px;
  background-color: #ff7200;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #e06600;
}
